*{margin:0px; padding: 0px;}
body{margin:0px; padding:0px;}


.moody{background-image: url('../img/bc-1.png');height: 900px; background-size: cover;padding: 0px;}
.moody h2{color: white; margin-top: 13%;}
.moody h1{font-size: 95px; color: white; margin-top: 90%; margin-left: 10%;}
.moody p{font-size: 75px; color: white;margin-top: -8%;  margin-left: 10%;}

.moody ul{margin-top: 6%;}
.moody ul li{ list-style-type: none; display: inline-block; font-size: 30px; padding-left: 7%;  }
.moody ul li a{text-decoration: none; color: white;}
.moody .read{margin-top: 60%;background-color: #ffba00;  width: 30%; height: 7%; border:1px solid white; margin-left: 15%;}
.moody .read a{color: white; text-decoration: none; padding: 5px 40px; font-size: 23px; display: block;}

.new{height: 400px; background-color: #242424;}
.new h3{color: white; margin-left: 25%; padding-top: 15%;}
.new h5{color: white; writing-mode: vertical-rl; text-orientation:upright;}
.new .new_2{background-color: #ffba00; height: 40%; width: 150%; z-index: 10; position: relative; margin-top: -48%;}
.new .new_2 p{color: white; margin-top: 5%; font-size: 25px; margin-left: 22%;}

.new img{float: right; margin-right: -120px; height: 100%; width: 100%; padding-top: 10%; margin-bottom: -55%;}
.new_format{height: 250px;  margin-left: 5%; margin-top: 10%;}
.new_format h4{color: #ffba00; padding-top: 10%; font-weight: bold;}